body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.headerHero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    width: 100%;
    margin-bottom: auto;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 15%;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 18px;
}

.hero {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 5% 15%;
}

.heroText {
    display: inline-block;
    width: 50%;
    height: 25%;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    width: 50%;
    aspect-ratio: 2.75/1;
}

.hero button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 200;
    padding: 6px 25px;
    color: white;
    border-radius: 8px;
    border-color: transparent;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.itemsTitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item p {
    width: 150px;
    text-align: center;
}

.item img {
    height: 150px;
    width: 150px;
    border: 3px solid rgb(202, 175, 24);
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
}

.sayer {
    text-align: right;
    align-self: flex-end;
}

.call {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0% 15%;
    padding: 15px 0px;
}

.call button {
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 3px;
    padding: 4px 15px;
    color: white;
}

.callText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.callText > * {
    margin: 0px;
}

.actionCall {
    font-weight: bold;
}

.footer {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: auto;
    padding: 24px 0px;
}

a {
    color: white;
    text-decoration: none;
}

